@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Dana;
    src: url('../assets/fonts/DanaVF.ttf');
}